{% extends "base.html" %}



{% block content %}

<div class="container">
    <div class="row justify-content-center">
        {% for kndex in productos %}
        <div class="col-6 ">
            <div class="card bg-dark my-2">
                <img class="card-img-top" src="{{ kndex.imagen_producto.url }}" alt="Card image cap">
                
                <h1 style="color: aliceblue;">INFO DEL PRODUCTO</h1>
                <p style="color: aliceblue;">id_producto:  {{kndex.id_producto}}      </p>
                <p style="color: aliceblue;">SKU:  {{kndex.sku}}      </p>
                <p style="color: aliceblue;">nombre_producto:  {{kndex.nombre_producto}}      </p>
                <p style="color: aliceblue;">descripcion:  {{kndex.descripcion}}      </p>
                <p style="color: aliceblue;">Precio_compra:  {{kndex.Precio_compra}}      </p>
                <p style="color: aliceblue;">precio_venta:  {{kndex.precio_venta}}      </p>
                <p style="color: aliceblue;">precio_oferta:  {{kndex.precio_oferta}}      </p>
                <p style="color: aliceblue;">stock:  {{kndex.stock}}      </p>
                <p style="color: aliceblue;">marca:  {{kndex.marca}}      </p>
                <p style="color: aliceblue;">subcat_producto:  {{kndex.subcat_producto}}      </p>
                <p style="color: aliceblue;">activo:  {{kndex.activo}}      </p>
                <h1 style="color: aliceblue;">INFO DE LA SUBCATEGORIA DEL PRODUCTO</h1>

                {% for index in subcategorias %}
                {% if kndex.subcat_producto == index.id_subcategoria %}
                <p style="color: aliceblue;">id: {{index.id_subcategoria}} </p>
                <p style="color: aliceblue;">nombre: {{index.nombre_subcategoria}}</p>
                <h1 style="color: aliceblue;">INFO DE LA CATEGORIA DEL PRODUCTO</h1>

                {% for jndex in categorias %}
                    {% if index.categoria == jndex.id_categoria %}
                        <p style="color: aliceblue;">id categoria: {{jndex.id_categoria}} </p>
                        <p style="color: aliceblue;">nombre categoria: {{jndex.nombrecategoria}} </p>
                        <p style="color: aliceblue;">tipo de categoria {{jndex.tipo_producto}}</p>
                    {% endif %}
                {% endfor %}
                {% endif %}
                {% endfor %}
                
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}