<footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-3 bg-dark" id="footer">
    <div class="col mb-3">
        <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap"></use>
            </svg>
        </a>
        <p class="text-muted">MusicPro© 2023</p>
    </div>
    <div class="col mb-3 " style="color: aliceblue; text-align: center;">
        <h5>Sobre nosotros</h5>
        <hr />
        <ul class="nav flex-column columna1">
            <li class="nav-item mb-2">Nuestra idea nueva</li>
            <li class="nav-item mb-2">Un catalogo amplio</li>
            <li class="nav-item mb-2">Venga a nuestro local</li>
            <li class="nav-item mb-2">About</li>
        </ul>
    </div>
    <div class="col mb-3" style="color: aliceblue; text-align: center;">
        <h5>Consultas</h5>
        <hr />
        <ul class="nav flex-column columna2">
            <li class="nav-item mb-2">Sobre el servicio de entregas</li>
            <li class="nav-item mb-2">Consultas sobre los productos</li>
            <li class="nav-item mb-2">Preguntas frecuentes</li>
            <li class="nav-item mb-2">Contáctenos</li>
        </ul>
    </div>
    <div class="col mb-3" style="color: aliceblue; text-align: center;">
        <h5>Productos</h5>
        <hr />
        <ul class="nav flex-column columna3">
            <li class="nav-item mb-2">Instrumentos de cuerdas</li>
            <li class="nav-item mb-2">Percusión</li>
            <li class="nav-item mb-2">Amplificadores</li>
            <li class="nav-item mb-2">Accesorios</li>
        </ul>
    </div>
</footer>