{% extends "base.html"%}
{% load humanize %}
{% load static %}
{% block title %} Plantitas | Carrito {% endblock %}
{% block content%} 
<div class="container-fluid py-4">
    <div class="row justify-content-center">
        <div class="col-md-3 col-sm-10 py-2">
            <div class="d-grid gap-2">
                {% if request.session.carro.items %}
                <a href="{% url 'inicio'%}" class="btn btn-primary">Seguir Comprando!</a>
                {% else %}
                <a href="{% url 'inicio'%}" class="btn btn-primary">Comenzar a Comprar!</a>
                {% endif %}
            </div>
            <div class="card text-bg-dark">
                <div class="card-body">
                    <h1 style="text-align: center;">Carrito</h1>
                    <div class="py-5">
                        <table class="table table-striped ">
                            <thead>
                                <tr class="text-center">
                                    <th scope="col" style="color: aliceblue;">SKU</th>
                                    <th scope="col" style="color: aliceblue;">Nombre</th>
                                    <th scope="col" style="color: aliceblue;">Precio</th>
                                    <th scope="col" style="color: aliceblue;">Cantidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if request.session.carro.items %}
                                    {% for key, value in request.session.carro.items %}
                                    <tr class="text-center">
                                        <td style="color: aliceblue;">{{value.id_producto}}</td>
                                        <td style="color: aliceblue;">{{value.nombre}}</td>
                                        <td style="color: aliceblue;">${{value.precio | intcomma}}</td>
                                        <td>
                                            <div class="btn-group">
                                                <a href='{% url "agregarProducto" value.id_producto %}' class="btn btn-success btn-sm">+</a>
                                                <button type="button" class="btn btn-lg btn-secondary btn-sm" disabled>{{value.cantidad}}</button>
                                                <a href='{% url "restarProducto" value.id_producto %}' class="btn btn-danger btn-sm">-</a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}  
                                {% else %}
                                    <tr>
                                        <td colspan="4">
                                            <h5 style="text-align:center;">Aun No Hay Productos en el Carrito</h5>
                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <h4>Total: ${{importe_total_carro | intcomma}}</h4>
                        <a href='{% url "limpiarCarro" %}' class="Btn btn-secondary"></a>
                    </div>
                </div>
            </div>
            <div class="d-grid gap-2">
                {% if request.session.carro.items %}
                <a href="{% url 'inicio'%}" class="btn btn-success">Pagar</a>
                {% else %}
                <button type="button" class="btn btn-secondary btn-lg" disabled>Pagar</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock%}